/* Write your CSS here */

.vaccination-gender-container {
  margin-top: 10px;
  background-color: #1c1c2b;
  width: auto;
  margin-right: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vaccination-gender-container h1 {
  font-size: 15px;
  color: #cbd5e1;
  margin-left: 50px;
  align-self: flex-start;
}
